:root {
    --blush: #E9BEBE;
    --gray: #7D7474;
    --mint: #D1EFE4;
    --slate: #BBBBBB;
    --dust: #EEEEEE;
}

body {
    background-color: var(--blush);
    margin: 0;
}

/* have to use !important here to override Bootstrap's background color */

.bg-body-tertiary {
    background-color: var(--blush) !important;
}

.BB--logo {
    width: 40%;
}

.btn-outline-success {
    color: var(--gray);
    border-color: var(--gray);
}

.btn-outline-success:hover {
    background-color: var(--mint);
    color: var(--gray);
    border-color: var(--gray);
}

.nav-link:hover {
    background-color: var(--mint);
}

.dropdown-item:hover {
    background-color: var(--mint);
}

footer {
    background-color: var(--gray);
    color: var(--blush);
    font-size: .75em;
    bottom: 0;
    width: 100%;
    padding: 50px;
}