:root {
    --blush: #E9BEBE;
    --gray: #7D7474;
    --mint: #D1EFE4;
    --slate: #BBBBBB;
    --dust: #EEEEEE;
}

html, body {
    background-color: var(--blush);
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-drag: none;
}

/* have to use !important here to override Bootstrap's background color */

.bg-body-tertiary {
    background-color: var(--blush) !important;
}

.BB--logo {
    width: 40%;
    margin-bottom: 10px;
}

.btn-outline-success {
    color: var(--gray);
    border-color: var(--gray);
}

.btn-outline-success:hover {
    background-color: var(--mint);
    color: var(--gray);
    border-color: var(--gray);
}

.nav-link:hover {
    background-color: var(--mint);
}

.dropdown-item:hover {
    background-color: var(--mint);
}

#BB--home-header {
    background-color: var(--mint);
    color: var(--gray);
    text-align: center;
    margin-top: 20px;
}

.BB--home--wedding-gallery--caption-header, .BB--home--wedding-gallery--caption-credit {
    color: var(--gray);
    background-color: var(--blush);
}

.carousel {
}

footer {
    background-color: var(--gray);
    color: var(--blush);
    font-size: .75em;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
}

.mint-bg {
    background-color: rgba(209,239, 228, .5);
}

#moreReviews {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.see-more a {
    text-decoration: none;
}

.gray-text {
    color: var(--gray);
}

.home, .service-menu {
    margin-top: 3em;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}

.home-left {
    place-content: center;
}

.home-right img {
    width: 50vw;
}

.home-left h1 {
    font-size: 5vw;
}

.home-left h3, .service-left h3, .service-right h3 {
    font-size: 3.5vw;
}

.home-left p, .service-left p, .service-right p {
    font-size: 2.5vw;
    font-weight: 300;
}

.dust-bg {
    background-color: var(--dust);
}

.service-left, .service-right {
    width: 50%;
}